In [1]:
from pydataset import data

initiated datasets repo at: /Users/gregmaggard/.pydataset/

# 1. Copy the code from the lesson to create a dataframe full of student grades.

In [5]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

df

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

### a. Create a column named passing_english that indicates whether each student has a passing grade in english.

### b. Sort the english grades by the passing_english column. How are duplicates handled?

### c. Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

### d. Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

### e. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

# 2. Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

### a. How many rows and columns are there?

### b. What are the data types of each column?

### c. Summarize the dataframe with .info and .describe

### d. Rename the cty column to city.

### e. Rename the hwy column to highway.

### f. Do any cars have better city mileage than highway mileage?

### g. Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

### h. Which car (or cars) has the highest mileage difference?

### i. Which compact class car has the lowest highway mileage? The best?

### j. Create a column named average_mileage that is the mean of the city and highway mileage.

### k. Which dodge car has the best average mileage? The worst?

# 3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

### a. How many rows and columns are there?

### b. What are the data types?

### c. Summarize the dataframe with .info and .describe

### d. What is the the weight of the fastest animal?

### e. What is the overal percentage of specials?

### f. How many animals are hoppers that are above the median speed? What percentage is this?